<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<meta charset="utf-8" />
		<title>
			@(ViewBag.Title == null ? "" : ViewBag.Title + " - ")Quiquemon MVC 5 App
		</title>
		@Styles.Render("~/Content/css")
		@Scripts.Render("~/bundles/jquery", "~/bundles/bootstrap")
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-static-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="/" class="navbar-brand"><b>Quiquemon MVC 5 App</b></a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						@if (Session["User"] == null) {
							<li><a href="/">Inicio</a></li>
							<li><a href="/Home/AboutUs">Acerca de Nosotros</a></li>
							<li><a href="/Home/Contact">Contacto</a></li>
						} else {
							<li><a href="/Account">Mi Dashboard</a></li>
							<li><a href="/Team">Administrar Equipos</a></li>
						}
					</ul>
					<ul class="nav navbar-nav navbar-right">
						@if (Session["User"] == null) {
							<li>
								<a href="/Account/Register">
									<span class="glyphicon glyphicon-user"></span>
									Regístrate
								</a>
							</li>
							<li>
								<a href="/Account/Login">
									<span class="glyphicon glyphicon-log-in"></span>
									Iniciar Sesión
								</a>
							</li>
						} else {
							<li>
								<a href="/Account/Profile">
									<span class="glyphicon glyphicon-user"></span>
									Mi Perfil
								</a>
							</li>
							<li>
								<a href="/Account/Logout">
									<span class="glyphicon glyphicon-road"></span>
									Cerrar Sesión
								</a>
							</li>
						}
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			@RenderBody()
			<hr>
			<footer>
				<p>&copy; @DateTime.Now.Year - Quiquemon MVC 5 App</p>
				<p>Do whatever you want with this code :p</p>
			</footer>
		</div>
	</body>
</html>