@{ ViewBag.Title = "Mi Perfil"; }
@model QuiquemonMvc5App.Models.ViewModels.Account.UpdateInfoViewModel

<h1>@ViewBag.Title</h1>
<h4>Puedes actualizar tu información personal aquí.</h4>
<a href="/Account" class="btn btn-warning">
	<span class="glyphicon glyphicon-arrow-left"></span>
	Regresar al dashboard
</a>
<hr>
<div class="row">
	@Html.AntiForgeryToken()
	<div class="col-sm-3"></div>
	<div class="col-sm-6" align="center">
		<div class="panel panel-info">
			<div class="panel-heading">
				<b>Tu Logo</b>
			</div>
			<div class="panel-body">
				<div id="logoBody" class="row">
					<div class="col-sm-6 col-xs-6 text-center">
						<span id="logoPreview" class="@ViewBag.User.Logo.Name" style="font-size:10rem; margin-top:10px"></span>
					</div>
					<div class="col-sm-6 col-xs-6">
						<div class="form-group">
							@Html.LabelFor(model => model.Logo)
							@Html.DropDownListFor(model => model.Logo, Model.Logos, new { @class = "form-control" })
						</div>
						<button id="btnChangeLogo" class="btn btn-info btn-block">Cambiar Logo</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-3"></div>
</div>
<div class="row">
	<div class="col-sm-3"></div>
	<div class="col-sm-6" align="center">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<b>Tu Información Personal</b>
			</div>
			<div class="panel-body">
				
			</div>
		</div>
	</div>
	<div class="col-sm-3"></div>
</div>
<div class="row">
	<div class="col-sm-3"></div>
	<div class="col-sm-6" align="center">
		<div class="panel panel-danger">
			<div class="panel-heading">
				<b>Tu Contraseña</b>
			</div>
			<div class="panel-body">

			</div>
		</div>
	</div>
	<div class="col-sm-3"></div>
</div>
<script>
	$("#Logo").change(function() {
		document.getElementById("logoPreview").className = $(this).val();
	});

	$("#btnChangeLogo").click(function() {
		$("#logoBody .alert").remove();
		var token = document.getElementsByName("__RequestVerificationToken")[0].value;

		$.post("/Account/EditLogo", {
			name: $("#Logo").val(),
			__RequestVerificationToken: token
		}, function(response) {
			if (response.Success) {
				document.getElementById("profileLogo").className = response.Value;
				var html = App.Util.renderAlert(response.Message, "alert-info", true);
			} else {
				var html = App.Util.renderAlert("<b>Error</b> - " + response.Message, "alert-danger", true);
			}

			$("#logoBody").prepend(html);
		});
	});
</script>